* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

#navbar {
  z-index: 5;
}

nav {
  z-index: inherit;
  display: flex;
  justify-content: space-around;
  align-items: center;
  min-height: 10vh;
  background-color: #fafafa;
  font-family: "Public Sans", sans-serif;
  overflow: hidden;
}

nav .burger {
  display: none;
  cursor: pointer;
}

nav .burger div {
  width: 25px;
  height: 3px;
  background-color: #33323D;
  margin: 5px;
}

.nav-links {
  z-index: 5;
  display: flex;
  justify-content: space-around;
  width: 40%;
}

.nav-links li {
  list-style: none;
  margin-top: 30px;
}

.nav-links li a {
  color: #33323D;
  text-decoration: none;
  letter-spacing: 2px;
  font-weight: 600;
  font-size: 18px;
  transition: all 0.3s ease;
}

.nav-links li a:hover {
  color: #203A4C;
}

.nav-links li .selected {
  color: #5fb4a2;
}

@media screen and (max-width: 789px) {
  body {
    overflow-x: hidden;
  }
  nav {
    overflow: hidden;
  }
  nav .burger {
    display: block !important;
  }
  nav .burger div {
    background-color: #33323D;
  }
  .nav-links {
    z-index: 5;
    overflow: hidden;
    position: absolute;
    right: 0px;
    height: 92vh;
    top: 10vh;
    background-color: #fafafa;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    transform: translateX(100%);
    transition: transform 0.5s ease-in;
    opacity: 0.7;
  }
  .nav-links li {
    opacity: 0;
  }
  .nav-links a {
    color: #33323D;
    align-items: center;
  }
}

.nav-active {
  transform: translateX(0%);
}

@keyframes navLinkFade {
  from {
    opacity: 0;
    transform: translateX(50px);
  }
  to {
    opacity: 1;
    transform: translateX(0px);
  }
}

.toggle .line1 {
  transform: rotate(-45deg) translate(-5px, 6px);
}

.toggle .line2 {
  opacity: 0;
}

.toggle .line3 {
  transform: rotate(45deg) translate(-5px, -6px);
}

#cta .cta-cont {
  background-color: #fafafa;
  padding: 5% 11%;
}

#cta .cta-cont h3 {
  font-family: "Ibarra Real Nova", serif;
  font-size: 40px;
  font-weight: 700;
  color: #33323D;
}

#cta .cta-cont a {
  position: relative;
  left: 40%;
  text-decoration: none;
  color: #fafafa;
}

#cta .cta-cont a button {
  margin-top: 20px;
  height: 50px;
  width: 50%;
  background-color: #fafafa;
  border-color: #203A4C;
  color: #203A4C;
  font-family: "Public Sans", sans-serif;
  text-transform: uppercase;
}

#cta .cta-cont a button:hover {
  background-color: #203A4C;
  color: #fafafa;
}

@media screen and (max-width: 789px) {
  .cta-cont a {
    align-self: stretch;
  }
}

.footer-cont {
  padding: 3% 11%;
  background-color: #33323D;
  color: #fafafa;
}

.footer-cont a {
  padding: 2% 3%;
  text-decoration: none;
  color: #fafafa;
}

.footer-cont a:hover {
  color: #5fb4a2;
}

@media screen and (max-width: 789px) {
  .footer-cont {
    text-align: center;
  }
  .footer-cont .links-footer {
    margin: 2% auto;
  }
}
